body {
  background-color: rgb(2, 83, 153);
  color: white;
}

.App {
  text-align: center;
}

.taskBg {
  background-color: rgb(88, 119, 123);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 20px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: rgb(255, 255, 255);
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  display: flex;
  text-align: center;
  font-size: 14px bolder;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.iconsWrap {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: rgb(35, 148, 193);
}

.mr-20 {
  margin-right: 20px;
}
